<li class="nav-item dropdown">
    <select class="form-select-sm">
        <option selected>Город</option>
        {% for city in cities %}
            <option value="{{ forloop.counter }}">{{ city }}</option>
        {% endfor %}
    </select>
</li>
<li class="nav-item dropdown">
    <select class="form-select-sm">
        <option selected>Организация</option>
        {% for company in companies %}
            <option value="{{ forloop.counter }}">{{ company }}</option>
        {% endfor %}
    </select>
</li>
<li class="nav-item dropdown">
    <select class="form-select-sm">
        <option selected>Подразделение</option>
        {% for departament in departaments %}
            <option value="{{ forloop.counter }}">{{ departament }}</option>
        {% endfor %}
    </select>
</li>
<li class="nav-item dropdown">
    <select class="form-select-sm">
        <option selected>Бригадир</option>
        {% for brigadier in brigadiers %}
            <option value="{{ forloop.counter }}">{{ brigadier }}</option>
        {% endfor %}
    </select>
</li>
