{% extends 'base.html' %}
{% load static %}

{% block content %}

{{ block.super }}

    <div class="w-100 d-flex justify-content-center">
        <div class="w-25 mt-5 border border-secondary rounded p-3">
            <form class="form" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <input class="form-control" type="submit" value="Войти">
            </form>
            <a href="{% url 'auth:register' %}" class="btn btn-light form-control mt-2">
                К регистрации
            </a>
        </div>
    </div>
{% endblock %}
