{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="flex-grow-1">
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <h1 class="">Регистрация</h1>
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <i class="fas fa-address-card"></i> Новый пользователь
                        </div>
                        <div class="container mt-1">
                            <div class="register-form">
                                <div class="col-md-12">
                                    {% if form.errors %}
                                        <div class="alert alert-warning alert-dismissible fade show" role="alert"
                                             style="margin-top: 50px;">
                                            <strong>Внимание!</strong> Проверьте правильность введённых данных!
                                            {{ form.errors }}
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    {% elif messages %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert"
                                             style="margin-top: 50px;">
                                            <strong>Успешно!</strong>
                                            {% for message in messages %}
                                                {{ message }}
                                            {% endfor %}
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    {% endif %}
                                    <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {{ form.non_field_errors }}
                                        <div class="row">
                                            <div class="form-group mb-2">
                                                <label for="{{ form.username.id_for_label }}">Имя пользователя</label>
                                                {{ form.username }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-9">
                                                <div class="form-group">
                                                    <label for="{{ form.full_name.id_for_label }}">ФИО</label>
                                                    <div class="input-group mb-2">
                                                        {{ form.full_name }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">

                                                    <label for="{{ form.number.id_for_label }}">
                                                        <div class="dropdown">
                                                            <a class="dropdown-toggle text-reset" href="#" role="button"
                                                               id="dropdownMenuLink"
                                                               data-bs-toggle="dropdown">
                                                                ТН
                                                            </a>
                                                            <ul class="dropdown-menu">
                                                                <li>
                                                                    <p class="dropdown-item mb-0">Табельный номер</p>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </label>

                                                    {{ form.number }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row mb-2">
                                            <div class="col-lg-12">
                                                <div class="custom-file">
                                                    <label class="custom-file-label" for="userAvatar">Выберите
                                                        изображение</label>
                                                    <input class="form-control" type="file" id="formFile">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label>Контакты</label>
                                            <div class="input-group mb-2">

                                                <label class="input-group-text"
                                                       for="{{ form.telegram_id.id_for_label }}">
                                                    <div class="dropdown">
                                                        <a class="dropdown-toggle text-reset" href="#" role="button"
                                                           id="dropdownMenuLink"
                                                           data-bs-toggle="dropdown">
                                                            TelegramID
                                                        </a>
                                                        <ul class="dropdown-menu">
                                                            <li>
                                                                <a href="https://messenge.ru/kak-uznat-id-telegram/#title1"
                                                                   class="dropdown-item mb-0"
                                                                   target="_blank">
                                                                    Как узнать свой TelegramID?
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </label>

                                                {{ form.telegram_id }}
                                                <label class="input-group-text"
                                                       for="{{ form.email.id_for_label }}">Email</label>
                                                {{ form.email }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label>Пароль</label>
                                            <div class="input-group mb-2">
                                                <label class="input-group-text"
                                                       for="{{ form.password1.id_for_label }}">Пароль</label>
                                                {{ form.password1 }}
                                                <label class="input-group-text"
                                                       for="{{ form.password2.id_for_label }}">Подтверждение</label>
                                                {{ form.password2 }}
                                            </div>
                                        </div>
                                        <input class="btn btn-outline-primary btn-block mb-2 float-right"
                                               type="submit"
                                               value="Зарегистрироваться">
                                    </form>
                                    <a href="{% url 'auth:login' %}" class="btn btn-light form-control mb-2">
                                        К авторизации
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}
