* {
    margin: 0;
    padding: 0;
}

.wrapper {
    min-height: 100vh;
    min-width: 1220px;
    display: flex;
    flex-direction: column;
}

.top {
    flex-grow: 1;
}

.hidden {
    display: none;
}

.float-left {
    float: left!important;
}

.float-right {
    float: right!important;
}
