<li class="nav-item dropdown">
    <select class="form-select-sm">
        <option selected>Город</option>
        {% for city in cities %}
            <option value="{{ city.pk }}">{{ city.name }}</option>
        {% endfor %}
    </select>
</li>
{% if companies %}
<li class="nav-item dropdown">
    <select class="form-select-sm">
        <option selected>Организация</option>
        {% for company in companies %}
            <option value="{{ company.pk }}">{{ company.name }}</option>
        {% endfor %}
    </select>
</li>
{% endif %}
{% if departaments %}
<li class="nav-item dropdown">
    <select class="form-select-sm">
        <option selected>Подразделение</option>
        {% for departament in departaments %}
            <option value="{{ departament.pk }}">{{ departament.name }}</option>
        {% endfor %}
    </select>
</li>
{% endif %}
{% if brigadiers %}
<li class="nav-item dropdown">
    <select class="form-select-sm">
        <option selected>Бригадир</option>
        {% for brigadier in brigadiers %}
            <option value="{{ brigadier.pk }}">{{ brigadier.name }}</option>
        {% endfor %}
    </select>
</li>
{% endif %}
