{% extends 'base.html' %}
{% load static %}

{% block content %}

{{ block.super }}

    {% if not user.is_authenticated %}
        <div class="alert alert-warning text-center m-1" role="alert">
            Пожалуйста <a href="{% url 'auth:login' %}" class="alert-link">авторизуйтесь</a>!
        </div>
    {% elif user.is_linked %}
        {% if user.linked_worker.status == 2 %}
            <div class="alert alert-warning text-center m-1" role="alert">
                ВНИМАНИЕ! Приближается окончание сроков действия!
            </div>
        {% elif user.linked_worker.status == 3 %}
            <div class="alert alert-danger text-center m-1" role="alert">
                ВНИМАНИЕ! Имеются просрочки!
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
