<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Аудит дат. Типы предметов</title>
  <link href="/static/css/all.css" rel="stylesheet">
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="wrapper">
  <div class="top">
    <!--Top menu-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a href="#" class="show-hide-sidemenu navbar-brand"><i class="fas fa-bars"></i></a>
        <a class="navbar-brand" href="/">Экзамены, аттестации, инструмент</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav nav-pills ms-auto">
            <li class="nav-item">
              <a class="nav-link userprofile text-body" href="profile.html">
                <i class="fas fa-user-circle"></i>
                <i class="fas fa-bell text-warning"></i>
                User
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-body" href="/">
                <i class="fas fa-users-cog"></i>
                Управление
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-danger" href="/">
                Выйти
                <i class="fas fa-sign-out-alt"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-body" href="#">
                <i class="fas fa-sign-in-alt"></i>
                Войти
              </a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Фамилия" aria-label="Search">
            <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-search"></i></button>
          </form>
        </div>
      </div>
    </nav>
    <!--/Top menu-->
    <div class="d-flex page-content">
      <!--Side menu-->
      <div class="sidemenu">
        <div class="list-group shadow-sm">
          <h2 class="list-group-item mb-0">Списки</h2>
          <a href="/departaments/" class="list-group-item">
            Сотрудники
          </a>
          <a href="/items/" class="list-group-item">
            Предметы
          </a>
          <a href="/item_types/" class="list-group-item active">
            Виды&nbspпредметов
          </a>
        </div>
      </div>
      <!--/Side menu-->

      <div class="flex-grow-1">
        <div id="layoutSidenav_content">
          <main>
            <div class="container-fluid">
              <h1 class="">Виды инструмента и удостоверений</h1>
              <!-- Tab menu -->
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                    type="button" role="tab" aria-controls="home" aria-selected="true">Удостоверения</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                    role="tab" aria-controls="profile" aria-selected="false">Инструмент</button>
                </li>
              </ul>
              <!-- /Tab menu -->
              <div class="tab-content" id="myTabContent">
                <!-- Documents tab -->
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                      <i class="fas fa-table mr-1"></i> Виды удостоверений
                    </div>
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                          <thead>
                            <tr>
                              <th>Тип удостоверений</th>
                              <th>Наименование</th>
                              <th>Интервал замены</th>
                              <th>Интервал аттестаций</th>
                              <th>Перейти к выданным удостоверениям</th>
                            </tr>
                          </thead>
                          <tfoot>
                            <tr>
                              <th>Тип удостоверений</th>
                              <th>Наименование</th>
                              <th>Интервал замены</th>
                              <th>Интервал аттестаций</th>
                              <th>Перейти к выданным удостоверениям</th>
                            </tr>
                          </tfoot>
                          <tbody>
                            <tr>
                              <td><a href="item_group_details.html">Электробезопасность</a></td>
                              <td><a href="item_type_details.html">Электробезопасность 2гр</a></td>
                              <td>12</td>
                              <td>12</td>
                              <td>
                                <a href="items.html" class="btn btn-secondary btn-sm">Этот тип удостоверений</a>
                                <a href="items.html" class="btn btn-secondary btn-sm">Это наименование</a>
                              </td>
                            </tr>
                            <tr>
                              <td><a href="item_group_details.html">Электробезопасность</a></td>
                              <td><a href="item_type_details.html">Электробезопасность 3гр</a></td>
                              <td>12</td>
                              <td>12</td>
                              <td>
                                <a href="items.html" class="btn btn-secondary btn-sm">Этот тип удостоверений</a>
                                <a href="items.html" class="btn btn-secondary btn-sm">Это наименование</a>
                              </td>
                            </tr>
                            <tr>
                              <td><a href="item_group_details.html">Электробезопасность</a></td>
                              <td><a href="item_type_details.html">Электробезопасность 4гр</a></td>
                              <td>12</td>
                              <td>12</td>
                              <td>
                                <a href="items.html" class="btn btn-secondary btn-sm">Этот тип удостоверений</a>
                                <a href="items.html" class="btn btn-secondary btn-sm">Это наименование</a>
                              </td>
                            </tr>
                            <tr>
                              <td><a href="item_group_details.html">Электробезопасность</a></td>
                              <td><a href="item_type_details.html">Электробезопасность 5гр</a></td>
                              <td>12</td>
                              <td>12</td>
                              <td>
                                <a href="items.html" class="btn btn-secondary btn-sm">Этот тип удостоверений</a>
                                <a href="items.html" class="btn btn-secondary btn-sm">Это наименование</a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="card-footer">
                      <a href="item_group_details.html" class="btn btn-outline-primary btn-block">Добавить группу</a>
                      <a href="item_type_details.html" class="btn btn-outline-primary btn-block">Добавить тип предмета</a>
                    </div>
                  </div>
                </div>
                <!-- Tools Tab -->
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                  <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                      <i class="fas fa-table mr-1"></i> Виды инструмента
                    </div>
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                          <thead>
                            <tr>
                              <th>Группа инструмента</th>
                              <th>Наименование</th>
                              <th>Интервал проверки</th>
                              <th>Перейти к выданному инструменту</th>
                            </tr>
                          </thead>
                          <tfoot>
                            <tr>
                              <th>Группа инструмента</th>
                              <th>Наименование</th>
                              <th>Интервал проверки</th>
                              <th>Перейти к выданному инструменту</th>
                            </tr>
                          </tfoot>
                          <tbody>
                            <tr>
                              <td><a href="item_group_details.html">Лестницы</a></td>
                              <td><a href="item_type_details.html">Лестница 3*06</a></td>
                              <td>12</td>
                              <td>
                                <a href="items.html" class="btn btn-secondary btn-sm">Вся группа</a>
                                <a href="items.html" class="btn btn-secondary btn-sm">Это наименование</a>
                              </td>
                            </tr>
                            <tr>
                              <td><a href="item_group_details.html">Лестницы</a></td>
                              <td><a href="item_type_details.html">Лестница 3*09</a></td>
                              <td>12</td>
                              <td>
                                <a href="items.html" class="btn btn-secondary btn-sm">Вся группа</a>
                                <a href="items.html" class="btn btn-secondary btn-sm">Это наименование</a>
                              </td>
                            </tr>
                            <tr>
                              <td><a href="item_group_details.html">Лестницы</a></td>
                              <td><a href="item_type_details.html">Лестница 3*12</a></td>
                              <td>12</td>
                              <td>
                                <a href="items.html" class="btn btn-secondary btn-sm">Вся группа</a>
                                <a href="items.html" class="btn btn-secondary btn-sm">Это наименование</a>
                              </td>
                            </tr>
                            <tr>
                              <td><a href="item_group_details.html">Лестницы</a></td>
                              <td><a href="item_type_details.html">Лестница динамика</a></td>
                              <td>12</td>
                              <td>
                                <a href="items.html" class="btn btn-secondary btn-sm">Вся группа</a>
                                <a href="items.html" class="btn btn-secondary btn-sm">Это наименование</a>
                              </td>
                            </tr>
                            <tr>
                              <td><a href="item_group_details.html">Лестницы</a></td>
                              <td><a href="item_type_details.html">Лестница столбовая 1м</a></td>
                              <td>12</td>
                              <td>
                                <a href="items.html" class="btn btn-secondary btn-sm">Вся группа</a>
                                <a href="items.html" class="btn btn-secondary btn-sm">Это наименование</a>
                              </td>
                            </tr>
                            <tr>
                              <td><a href="item_group_details.html">Лестницы</a></td>
                              <td><a href="item_type_details.html">Лестница столбовая верх</a></td>
                              <td>12</td>
                              <td>
                                <a href="items.html" class="btn btn-secondary btn-sm">Вся группа</a>
                                <a href="items.html" class="btn btn-secondary btn-sm">Это наименование</a>
                              </td>
                            </tr>
                            <tr>
                              <td><a href="item_group_details.html">Лестницы</a></td>
                              <td><a href="item_type_details.html">Лестница столбовая низ</a></td>
                              <td>12</td>
                              <td>
                                <a href="items.html" class="btn btn-secondary btn-sm">Вся группа</a>
                                <a href="items.html" class="btn btn-secondary btn-sm">Это наименование</a>
                              </td>
                            </tr>
                            <tr>
                              <td><a href="item_group_details.html">Диэлектрический инструмент</a></td>
                              <td><a href="item_type_details.html">Перчатки диэлектрические</a></td>
                              <td>6</td>
                              <td>
                                <a href="items.html" class="btn btn-secondary btn-sm">Вся группа</a>
                                <a href="items.html" class="btn btn-secondary btn-sm">Это наименование</a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="card-footer">
                      <a href="item_group_details.html" class="btn btn-outline-primary btn-block">Добавить группу</a>
                      <a href="item_type_details.html" class="btn btn-outline-primary btn-block">Добавить тип предмета</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </main>
        </div>
      </div>
    </div>
  </div>
  <footer class="py-4 bg-light mt-auto">
    <div class="container-fluid">
      <div class="d-flex align-items-center justify-content-between small">
        <div class="text-muted">Copyright &copy; Удинский Дмитрий 2021</div>
      </div>
    </div>
  </footer>
  <script src="/static/js/fontawesome-icons.js"></script>
  <script src="/static/js/jquery-3.6.0.slim.min.js"></script>
  <script src="/static/js/bootstrap.bundle.min.js"></script>
  <script src="/static/js/burger.js"></script>
</body>

</html>