{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="flex-grow-1">
        <!--Content top-menu-->
        <ul class="nav shadow-sm">
            <div class="d-flex mt-1 ms-1 mb-1">
                {% include 'mainapp/includes/brig_checker.html' %}
                <li class="nav-item dropdown">
                    <select class="form-select-sm">
                        <option selected>Тип</option>
                        <option value="1">Инструмент</option>
                        <option value="2">Удостоверение</option>
                    </select>
                </li>
                <li class="nav-item dropdown">
                    <select class="form-select-sm">
                        <option selected>Наименование</option>
                        {% for item in item_types %}
                            <option value="{{ forloop.counter }}">{{ item }}</option>
                        {% endfor %}
                    </select>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <div class="form-check mx-2">
                        <input class="form-check-input" type="checkbox" value="" id="showAllGroups">
                        <label class="form-check-label" for="showAllGroups">
                            Все группы
                        </label>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="#" class="btn btn-outline-primary btn-sm">Запросить</a>
                </li>
            </div>
        </ul>
        <!--/Content top-menu-->
        <p class="ms-3 mt-3 mb-0">
            <a href="items.html">г. Нефтекамск</a> > <a href="items.html">ООО СВОС</a> >
            <a href="items.html">Отдел оптиков-сварщиков</a> > бр. Удинский Дмитрий Игоревич
        </p>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <h1 class="">Сроки действия инструмента и удостоверений</h1>
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <i class="fas fa-table mr-1"></i> Полный список
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>Организация</th>
                                        <th>Подразделение</th>
                                        <th>ФИО</th>
                                        <th>Наименование</th>
                                        <th>
                                            <div class="dropdown">
                                                <a class="dropdown-toggle text-reset" href="#" role="button"
                                                   id="dropdownMenuLink"
                                                   data-bs-toggle="dropdown" aria-expanded="false">
                                                    ИН
                                                </a>

                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <li>
                                                        <p class="dropdown-item mb-0">Инвентарный номер</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </th>
                                        <th>Проверка от</th>
                                        <th>Аттестация от</th>
                                        <th>Действует до</th>
                                        <th>Сохранить</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>Организация</th>
                                        <th>Подразделение</th>
                                        <th>ФИО</th>
                                        <th>Наименование</th>
                                        <th>
                                            <div class="dropdown">
                                                <a class="dropdown-toggle text-reset" href="#" role="button"
                                                   id="dropdownMenuLink"
                                                   data-bs-toggle="dropdown" aria-expanded="false">
                                                    ИН
                                                </a>

                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <li>
                                                        <p class="dropdown-item mb-0">Инвентарный номер</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </th>
                                        <th>Проверка от</th>
                                        <th>Аттестация от</th>
                                        <th>Действует до</th>
                                        <th>Сохранить</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>

                                    {% for el in items %}
                                        <tr class="
                                                {% if el.status == 'XX' %}
                                                    table-danger
                                                {% elif el.status == 'VV' %}
                                                    table-warning
                                                {% elif el.status == 'OO' %}
                                                    table-info
                                                {% endif %}
                                        ">
                                            <td><a href="company_form.html">{{ el.company }}</a></td>
                                            <td><a href="departament_form.html">{{ el.departament }}</a></td>
                                            <td><a href="profile.html">{{ el.worker_name }}</a></td>
                                            <td>
                                                {% if el.item_class == 'doc' %}
                                                    <i class="far fa-address-card"></i>
                                                {% else %}
                                                    <i class="fas fa-tools"></i>
                                                {% endif %}
                                                <a href="gived_item_details.html">{{ el.item_name }}</a>
                                            </td>
                                            <td>{{ el.inv_num }}</td>
                                            <td class="text-center"><input type="date" class="btn btn-light btn-sm"
                                                                           name="check"
                                                                           value="{{ el.check_for|date:'Y-m-d' }}"
                                            ></td>
                                            <td class="text-center">
                                                {% if el.item_class == 'doc' %}
                                                    <input type="date" class="btn btn-light btn-sm"
                                                           name="test"
                                                           value="{{ el.test_for|date:'Y-m-d' }}"
                                                    >
                                                {% endif %}
                                            </td>
                                            <td class="text-center">
                                                <input type="date" class="btn btn-light btn-sm"
                                                       name="to"
                                                       value="{{ el.check_to|date:'Y-m-d' }}"
                                                >
                                            </td>
                                            <td><a href="#" class="btn btn-secondary btn-sm">Сохранить</a></td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer">

                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}
