{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!--Content top-menu AJAX -->
    <ul class="nav shadow-sm">
        <div class="d-flex mt-1 ms-1 mb-1">
            {% include 'includes/brig_checker.html' %}
            <li class="nav-item">
                <a href="AJAX" class="btn btn-outline-primary btn-sm">Запросить</a>
            </li>
        </div>
    </ul>
    <!--/Content top-menu-->

    <!-- Site path -->
    {% if workers %}
        <p class="ms-3 mt-3 mb-0">
            {% if detail != 'All' %}
                <a href="{% url 'workersapp:city_filter' workers.first.departament.company.city_id %}">
                    {{ workers.first.departament.company.city.name }}
                </a>
            {% endif %}
            {% if detail != 'All' and detail != 'City' %}
                >
                <a href="{% url 'workersapp:company_filter' workers.first.departament.company_id %}">
                    {{ workers.first.departament.company.name }}
                </a>
            {% endif %}
            {% if detail == 'Departament' or detail == 'Brig' %}
                >
                <a href="{% url 'workersapp:departament_filter' workers.first.departament_id %}">
                    {{ workers.first.departament.name }}
                </a>
            {% endif %}
            {% if detail == 'Brig' %}
                > бр. {{ workers.first.brig.name }}
            {% endif %}
        </p>
    {% endif %}
    <!-- /Site path -->

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">

                {{ block.super }}

                <h1 class="">Список сотрудников</h1>
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i> Полный список
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    {% if detail != 'Brig' and detail != 'Departament' %}
                                        <th>Город</th>
                                    {% endif %}
                                    <th>Организация</th>
                                    <th>Подразделение</th>
                                    <th>ФИО бригадира</th>
                                    {% if detail == 'Brig' or detail == 'Departament' %}
                                        <th>ФИО сотрудника</th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    {% if detail != 'Brig' and detail != 'Departament' %}
                                        <th>Город</th>
                                    {% endif %}
                                    <th>Организация</th>
                                    <th>Подразделение</th>
                                    <th>ФИО бригадира</th>
                                    {% if detail == 'Brig' or detail == 'Departament' %}
                                        <th>ФИО сотрудника</th>
                                    {% endif %}
                                </tr>
                                </tfoot>
                                <tbody>
                                {% for worker in workers %}
                                    <tr>
                                        {% if detail != 'Brig' and detail != 'Departament' %}
                                            <td><a href="city_form.html">
                                                {{ worker.departament.company.city.name }}
                                            </a></td>
                                        {% endif %}
                                        <td>
                                            <a href="company_form.html">{{ worker.departament.company.name }}</a>
                                        </td>
                                        <td>
                                            <a href="departament_form.html">{{ worker.departament.name }}</a>
                                        </td>
                                        <td>
                                            <i class="fas fa-bell
                                                {% if worker.brig.brig_status == 3 %}
                                                    text-danger
                                                {% elif worker.brig.brig_status == 2 %}
                                                    text-warning
                                                {% elif worker.brig.brig_status == 1 %}
                                                    text-info
                                                {% else %}
                                                    text-success
                                                {% endif %}
                                                "></i>
                                            <a href="{% url 'workers:brig_filter' worker.brig_id %}">
                                                {{ worker.brig.name }}
                                            </a>
                                        </td>
                                        {% if detail == 'Brig' or detail == 'Departament' %}
                                            <td>
                                                <i class="fas fa-bell
                                                {% if worker.status == 3 %}
                                                    text-danger
                                                {% elif worker.status == 2 %}
                                                    text-warning
                                                {% elif worker.status == 1 %}
                                                    text-info
                                                {% else %}
                                                    text-success
                                                {% endif %}
                                                "></i>
                                                <a href="{% url 'main:worker_filter' worker.pk %}">
                                                    {{ worker.name }}
                                                </a>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="city_form.html" class="btn btn-outline-primary">Добавить город</a>
                        <a href="company_form.html" class="btn btn-outline-primary">Добавить организацию</a>
                        <a href="departament_form.html" class="btn btn-outline-primary">Добавить подразделение</a>
                        <a href="profile.html" class="btn btn-outline-primary">Добавить сотрудника</a>
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
