{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="flex-grow-1">
        <!--Content top-menu-->
        <ul class="nav shadow-sm">
            <div class="d-flex mt-1 ms-1 mb-1">
                {% include 'includes/brig_checker.html' %}
                <li class="nav-item">
                    <a href="#" class="btn btn-outline-primary btn-sm">Запросить</a>
                </li>
            </div>
        </ul>
        <!--/Content top-menu-->
        <p class="ms-3 mt-3 mb-0">
            <a href="departaments.html">г. Нефтекамск</a> > <a href="departaments.html">ООО СВОС</a> >
            <a href="departaments.html">Отдел оптиков-сварщиков</a> > бр. Удинский Дмитрий Игоревич
        </p>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <h1 class="">Список сотрудников</h1>
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <i class="fas fa-table mr-1"></i> Полный список
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>Город</th>
                                        <th>Организация</th>
                                        <th>Подразделение</th>
                                        <th>ФИО бригадира</th>
                                        <th>ФИО сотрудника</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>Город</th>
                                        <th>Организация</th>
                                        <th>Подразделение</th>
                                        <th>ФИО бригадира</th>
                                        <th>ФИО сотрудника</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>
                                    {% for worker in workers %}
                                        <tr>
                                            <td><a href="city_form.html">
                                                {{ worker.departament.company.city.name }}
                                            </a></td>
                                            <td>
                                                <a href="company_form.html">{{ worker.departament.company.name }}</a>
                                            </td>
                                            <td>
                                                <a href="departament_form.html">{{ worker.departament.name }}</a>
                                            </td>
                                            <td>
                                                <i class="fas fa-bell
                                                {% if worker.brig.brig_status == 3 %}
                                                    text-danger
                                                {% elif worker.brig.brig_status == 2 %}
                                                    text-warning
                                                {% elif worker.brig.brig_status == 1 %}
                                                    text-info
                                                {% else %}
                                                    text-success
                                                {% endif %}
                                                "></i>
                                                <a href="departaments.html">{{ worker.brig.name }}</a>
                                            </td>
                                            <td>
                                                <i class="fas fa-bell
                                                {% if worker.status == 3 %}
                                                    text-danger
                                                {% elif worker.status == 2 %}
                                                    text-warning
                                                {% elif worker.status == 1 %}
                                                    text-info
                                                {% else %}
                                                    text-success
                                                {% endif %}
                                                "></i>
                                                <a href="items.html">{{ worker.name }}</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="city_form.html" class="btn btn-outline-primary">Добавить город</a>
                            <a href="company_form.html" class="btn btn-outline-primary">Добавить организацию</a>
                            <a href="departament_form.html" class="btn btn-outline-primary">Добавить подразделение</a>
                            <a href="profile.html" class="btn btn-outline-primary">Добавить сотрудника</a>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}
